<!DOCTYPE html>
<html>
  <head>
    <title>tophome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  
  <body>
    <h1 class="headline"> ようこそ <strong>Bookers</strong>  へ！</h1>
<p class="line"> <strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
<p class="line2"> 印象を共有し交換することができます </p>
<p class="link"> <a href="/books"> start </a></p> 
  
</body>
</html>