* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
  
}

.line {
 margin-left: 30px;
 margin-top: 30px;
}

.line2 {
  margin-left: 30px;
  padding-top: 30px;
}

.link {
  margin-left: 30px;
  margin-top: 30px;
}
